* { 
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0px;
}

aside {
    position: fixed;
    height: 100%;
    width: 250px;
    margin: 0px;
    background-color: #55acee;
    text-align: center;
}

#titulo {
    color: #ffffff;
    margin: auto;
    width: 50%;
}

#contenedor {
    margin-left: 250px;
    margin-top: 47px;
    padding: 30px;
}

div.centre{
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


header {
    position: fixed;
    height: 47px;
    width:100%;
    top:0px;
    border: 1px solid black;
    text-align: center;
    background-color: white;
}

header span {
  display: inline-block;
  vertical-align: middle;
}

header div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
}

.centre div {
    border:1px solid black;
    padding: 15px;
}

header span {
    float:left;
}